h1 {
    color: darkmagenta ;
    text-align: center;
}

h2 {
    color: blueviolet;
}

img {

    box-shadow: darkblue;
    align-items: center;
}

section {
    background-color: bisque;
}

p {
    font-size: larger;
}